*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
	font-family: 'MavenProRegular';
	src: url('../fonts/Maven Pro Regular.eot');
	src: local('☺'), url('../fonts/Maven Pro Regular.woff') format('woff'), url('../fonts/Maven Pro Regular.ttf') format('truetype'), url('../fonts/Maven Pro Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}





.nav{
		font-family: Lato;
		font-weight: 700;
		font-size: 10px;		
		position: relative;
	   display: block;
		background-color: #323232;
		height: 63px;		
	
		
}
.nav:after{
	   content: "";
      display: block;
      width: 0px;
      height: 0;
      border: 20px solid transparent;
		border-top-color: #323232;
		position: absolute;
		right: 50%;
		transform: translateX(50%);
		border-width: 25px 40px 0px 40px;	
}

.nav-box{
	display: flex;
	justify-content: center;
}

.nav-link{
	color: #a6a6a6;
	text-transform: uppercase;
	line-height: 63px;
	padding: 0 15px;
	
	}

.portfolio-box{	
	padding-bottom: 150px;
	text-align: center;
	background-color:#ffffff ;
	background-image: url(../img/icon/Rectangle_2.png), url(../img/icon/Rectangle_2_copy.png),url(../img/icon/Rectangle_2_copy_2.png),url(../img/icon/Rectangle_2_copy_3.png),url(../img/icon/Rectangle_2_copy_4.png),url(../img/icon/Rectangle_2_copy_5.png);
	background-repeat: no-repeat;
	background-position: 30px 705px, 39px 705px, 48px 705px, 57px 705px, 66px 705px, 75px 705px;
}

.img1{
	margin: 90px 8px 0 8px;}
.portfolio-box2{
	margin: -50px 0px;}
.img2{
	margin: 0px 8px;}
.img3{
	margin: 0px 8px;}
.nav-logo{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0px;}
.margin-logo{
	margin-right: 50px;}
.color-portfolio{
	color: #2f937f;}

	.about-and-blog{
		background-color: #2eb398;
		display: block;
		position: relative;
	}
	.about-img{
		margin: 50px 500px 50px 335px;
		
	}
	.about-text{
		
	}
	.about-name{
		font-family: 'MavenProRegular';
		color: #d4fbf3;
		font-size: 30px;
      font-weight: 400;
      line-height: 4.56px;
		position: absolute;
		left: 45%;
		transform: translateX(-55%);
		top: 70px;
	}
	.about-profesion{
		color: #20816d;
      font-family: "Maven Pro Regular";
      font-size: 18px;
      font-weight: 400;
      line-height: 21.56px;
		position: absolute;
		left: 45%;
		transform: translateX(-45%);
		top: 85px;
	}
	.about-fish{
		color: #d7fcf5;
      font-family: Lato;
      font-size: 12px;
      font-weight: 400;
      line-height: 21.56px;
		position: absolute;
		left: 50%;
		transform: translateX(-26%);
		top: 120px;
	}
	.link-com{
		display: inline-flex;
		margin: 80px 200px 50px 50px;
		

	}