*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	   width: 1020px;
	   height: 1732px;
}

.nav{
		
	   display: block;
		background-color: #323232;
		height: 63px;		
		background-image: url(../img/icon/bg2.jpg);
		background-position: 446px -100px;
		background-size:120px 200px;
		background-repeat: no-repeat;
		
}

.nav-box{
	display: flex;
	justify-content: center;
}

.nav-link{
	color: #a6a6a6;
	text-transform: uppercase;
	line-height: 63px;
	padding: 0 15px;
	}

.portfolio-box{	
	padding-bottom: 150px;
	text-align: center;
	background-color:#ffffff ;
	background-image: url(../img/icon/Rectangle_2.png), url(../img/icon/Rectangle_2_copy.png),url(../img/icon/Rectangle_2_copy_2.png),url(../img/icon/Rectangle_2_copy_3.png),url(../img/icon/Rectangle_2_copy_4.png),url(../img/icon/Rectangle_2_copy_5.png);
	background-repeat: no-repeat;
	background-position: 30px 705px, 39px 705px, 48px 705px, 57px 705px, 66px 705px, 75px 705px;
}

.img1{
	margin: 90px 8px 0 8px;
}

.portfolio-box2{
	margin: -50px 0px;
}
.img2{
	margin: 0px 8px;
}
.img3{
	margin: 0px 8px;
}



